@import views.html.helper._

@main("Carte aux Trésors - A.MEYER") {
  <main style="margin-top: 20px; margin-left: 20px;">
    <h1>Carte aux Trésors</h1>
    <h3>Carbon IT - Alexandre Meyer - 08-2023</h3>

    <p style="margin-top: 50px;">
      Aller dans app/service/GameService.java à partir de la ligne 30 pour modifier les paramètres d'entrée
    </p>
    <p style="margin-top: 50px;">
      Ré-actualiser la page pour relancer la génération du fichier de sortie dans le terminal
    </p>
    
    <!-- <p style="margin-top: 50px;">Sélectionnez votre fichier de Carte aux Trésors</p>
    <p>En cliquant sur "Générer" le fichier d'entrée sera lu</p>
    <p>et générera le fichier de résultat dans le même dossier</p>
    <p>Respectez bien la mise en forme du fichier d'entrée ou aucun fichier de résultat ne sera généré !</p>

    <div style="margin-top: 10px; margin-bottom: 50px;">
      @form(controllers.routes.HomeController.readFileAndProcess(), Symbol("enctype") -> "multipart/form-data") {
        <input type="file" name="fileInput">
        <button type="submit">Générer</button>
      }
    </div> -->
  </main>
}
