@import views.html.helper._

@main("Carte aux Trésors - A.MEYER") {
  <main style="margin-top: 20px; margin-left: 20px;">
    <h1>Carte aux Trésors</h1>
    <h3>Carbon IT - Alexandre Meyer - 08-2023</h3>
    
    <p style="margin-top: 50px;">Sélectionnez votre fichier de Carte aux Trésors</p>
    <p>En cliquant sur "Générer" le fichier d'entrée sera lu</p>
    <p>et générera le fichier de résultat dans le même dossier</p>
    <p>Respectez bien la mise en forme du fichier d'entrée ou aucun fichier de résultat ne sera généré !</p>

    <div style="margin-top: 10px; margin-bottom: 50px;">
      @form(controllers.routes.HomeController.readFileAndProcess(), Symbol("enctype") -> "multipart/form-data") {
        <input type="file" name="fileInput">
        <button type="submit">Générer</button>
      }
    </div>
<!--     <div id="fileData"></div> -->
  </main>
}

<!-- <script>
  // Javascript code is used purely to display the text content of the file selected
  document.getElementById('loadFileButton').addEventListener('click', async () => {
    const fileInput = document.getElementById('fileInput');
    const file = fileInput.files[0];

    if (file) {
      const fileContent = await readFile(file); // awaiting result of asynchronous file reading
      displayFileContent(fileContent); // display text content of the file
    }
  });

  // asynchronous reading of the file
  async function readFile(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.onload = (event) => {
        resolve(event.target.result);
      };
      reader.onerror = reject;
      reader.readAsText(file);
    });
  }

  // display text on the "fileData" div
  function displayFileContent(content) {
    const fileDataDiv = document.getElementById('fileData');
    fileDataDiv.textContent = content;
  }
</script> -->
